<div class="panel">
    <ul ng-if="ui.outgoing_message.meta && ui.outgoing_message.meta.length>0">
        <li class="label">Custom Fields</label>
    </ul>
    <ul class="sheet">
        <li class="header" ng-if="ui.outgoing_message.meta && ui.outgoing_message.meta.length>0">
            <div class="delete">&nbsp;</div>
            <div class="cell">Key</div>
            <div class="cell">Value</div>
        </li>
        <li ng-class="{invalid: meta.invalid};" ng-repeat="meta in ui.outgoing_message.meta track by $index">
            <div class="delete">
                <button class="delete" ng-click="deleteMeta(meta,$index)"></button>
            </div>
            <div class="cell">
                <input type="text" placeholder="Key" class="action-text" maxlength="14" ng-model="meta.key"
                    ng-change="makeDirty()" />
            </div>
            <div class="cell">
                <input type="text" placeholder="Value" ng-model="meta.value" ng-change="makeDirty()" />
            </div>
        </li>
        <li class="placeholder_button">
            <button ng-click="addMetaVar();">Add Custom Field</button>
        </li>
    </ul>
</div>

<div class="panel">
    <ul ng-if="ui.outgoing_message.step && ui.outgoing_message.step.length>0">
        <li class="label">Custom Steps (in order of execution)</label>
    </ul>
    <ul class="sheet">
        <li class="header" ng-if="ui.outgoing_message.step && ui.outgoing_message.step.length>0">
            <div class="delete">&nbsp;</div>
            <div class="cell">Key</div>
            <div class="cell">Value</div>
            <div class="cell">Optional parameter</div>
        </li>
        <li ng-class="{invalid: step.invalid};" ng-repeat="step in ui.outgoing_message.step track by $index">
            <div class="delete">
                <button class="delete" ng-click="deleteStep(step,$index)"></button>
            </div>
            <div class="cell">
                <select ng-model="step.key" ng-change="makeDirty()">
                    <optgroup label="API calls">
                        <option value="call">call</option>
                        <option value="bitrise">bitrise</option>
                        <option value="github">github</option>
                    </optgroup>
                    <optgroup label="Generate">
                        <option value="generateButtons">Buttons</option>
                        <option value="generateList">Liste</option>
                    </optgroup>
                    <optgroup label="Other">
                        <option value="fromVar">Variable named</option>
                    </optgroup>
                </select>
            </div>
            <div class="cell">
                <select ng-if="step.key === 'fromVar'" ng-model="step.value" ng-change="makeDirty()">
                    <option ng-repeat="item in command.script.variables" value="{% '{{vars.' + item + '}}' %}">{% item %}</option>
                </select>
                <select ng-if="step.key === 'generateButtons'" ng-model="step.value" ng-change="makeDirty()">
                    <option value="apps">Apps</option>
                    <option value="branches">Branches</option>
                    <option value="envs">Environment</option>
                </select>
                <select ng-if="step.key === 'generateList'" ng-model="step.value" ng-change="makeDirty()">
                    <option value="appList">App list</option>
                    <option value="branchList">Branch list</option>
                    <option value="envList">Environment list</option>
                </select>
                <input ng-if="step.key !== 'fromVar' && step.key !== 'generateButtons' && step.key !== 'generateList'" type="text" placeholder="Value" ng-model="step.value" ng-change="makeDirty()" />
            </div>
            <div class="cell">
                <input type="text" placeholder="Parameter" ng-model="step.parameter" ng-change="makeDirty()" />
            </div>
        </li>
        <li class="placeholder_button">
            <button ng-click="addStepVar();">Add Custom Step</button>
        </li>
    </ul>
</div>